nav {
  background-color: #f4f3f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 0 50px;
  position: sticky;
  top: 0;
}

nav .brand-logo {
  width: 50px;
  margin-right: 50px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 50px;
}

nav .left-side {
  display: flex;
  align-items: center;
}

nav ul li.active a {
  color: black;
  font-weight: bolder;
}

nav ul a {
  color: rgb(158, 158, 158);
  text-decoration: none;
  font-weight: 600;
}

nav a.custom-btn {
  text-decoration: none;
  background-color: #111727;
  color: white;
  font-size: 17px;
  width: 130px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
